{% load staticfiles %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url 'article_list' %}">На главную</a></li>
            <li><a href="{% url 'create_article' %}">Добавить статью</a></li>
            <li><a href="{% url 'user_list' %}">Пользователи</a></li>
            <li><a href="{% url 'user_create' %}">Добавить пользователя</a></li>

            {% block menu %}{% endblock %}
        </ul>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
</body>
</html>