body {
    font-family: Arial, sans-serif;
    background: rgb(222, 240, 204);
    color: #222222;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:visited {
    color: inherit;
}

.navbar {
    display: block;
    background: #6a7dff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: inline-block;
    margin-left: 4px;
}

.menu li a:hover {
    color: #ffc122;
    margin: 4px;
}

h1 {
    text-align: center;
}